################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment_1/.vs/Assignment_1/v16
/Assignment_1/Debug